PORT=5321
MONGO_URI=mongodb://localhost:27017/menu
JWT_SECRET=supersecret_change_me_in_production
AES_SECRET=0123456789abcdef0123456789abcdef
FRONTEND_URL=http://localhost:5173
SUPER_ADMIN_EMAIL=admin@menu.app
SUPER_ADMIN_PASSWORD=admin123
